.starred {
	background-image: url("/assets/img/sprites.png");
	position: absolute;
	background-repeat: no-repeat;
	width: 500px;
	height: 500px;
	top: -449px;
	right: -415px;
}
.icontrash {
	background-image: url('/assets/img/icontrash.png');
	height: 15px;
	width: 20px;
	position: absolute;
	right: 8px;
	top: 24px;
}

.clearlistbutton {
	width: 120px;
	padding: 5px 15px;
	background-color: transparent;
	border: 5px solid rgba(216, 216, 216, 0.68);
	border-radius: 5px;
	transition: all 0.5s ease;
	&:hover {
		color: #ce1c1a;
	}
}

.deletedlist {
	.icontrash {
		background-image: url('/assets/img/iconreset.png');
	}
	.starred {
		display: none;
	}
}
