.starred {
	background-image: url("/assets/img/sprites.png");
	position: absolute;
	background-repeat: no-repeat;
	width: 500px;
	height: 500px;
	top: -449px;
	right: -415px;
}

.icontrash {
	background-image: url('/assets/img/icontrash.png');
	height: 15px;
	width: 20px;
	position: absolute;
	right: 8px;
	top: 24px;
}

.clearlistbutton {
	width: 120px;
	padding: 5px 15px;
	margin-left: 10px;
	background-color: rgba(211, 211, 211, 0.59);
	border: none;
	color: rgb(165, 11, 11);
	.transition-simple();
	&:hover {
		background-color: rgba(139, 131, 135, 0.50);
	}
}



.deletedlist {
	.icontrash {
		background-image: url('/assets/img/iconreset.png');
	}
	.starred {
		display: none;
	}
}
